* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-azul: #243E73;
    --color-gris: #F2F2F2;
    --color-blanco: #FFF;
    --color-rojo: #e21d38;
    --color-amarillo: #fdcf0a;

}

.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01012e;
    font-family: 'Roboto', sans-serif;
}


a {
    text-decoration: none;

}

ul,
li {
    list-style: none;
    padding-left: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    margin: auto;
    max-width: 80vw;
    font-family: sans-serif;
}

h1 {
    color: var(--color-azul);
}


.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.menu {
    display: flex;
    gap: 2rem;

}

.button {
    display: inline-block;
    border-radius: 5px;
    padding: .25em 0.5em;
    border: 1px solid gray;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    /* Transición suave */
    border: none;
    cursor: pointer;
    padding: 8px;
}

.button a {
    display: block;
    /* Hace que el enlace ocupe todo el espacio del botón */
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Alto completo */
    text-align: center;
    /* Centra el texto */
    line-height: inherit;
    /* Mantiene la alineación vertical */

    text-decoration: none;
    /* Elimina el subrayado */
    color: inherit;
    /* Mantiene el color del texto del botón */
}

.button:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra más pronunciada al pasar el cursor */
    transform: translateY(-0.5px);
    /* Eleva ligeramente el botón */

}

.button--primary {
    background-color: var(--color-azul);
    color: var(--color-blanco);
}

.button--danger {
    padding: 0.4 0.5em;
    background-color: red;
    color: var(--color-blanco);
}

.button-delete {
    margin-left: 1em;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 350px;
    padding: 40px;
    background: var(--color-blanco);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;


}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 150px;
}



input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-azul);
    border-radius: 3px;
    margin-block: 10px;
}

/* Imagen de fondo cruzada */
.form-container::before {

    content: "";
    /* Asegura que el pseudo-elemento se renderice */
    display: block;
    /* Evita que se ignore */
    position: absolute;
    top: 0;
    /* Ajustado */
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/image/rosca.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    /* Ajusta la opacidad */
    transform: rotate(-15deg);
    /* Elimina translateY para mejor ajuste */
    z-index: 0;
}

.text--login {
    text-align: center;
    font-size: small;
    font-weight: 200;
    margin: 8px;
}

.error--text {
    color: var(--color-rojo);
    margin-top: 8px;
    text-align: center;
    font-size: 12px;

}

.hidden {
    display: none;
}

.container--return--form {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.container--dashboard {
    text-align: center;
}







/* -------------------------------------------------------------- */



.form--group {
    margin-bottom: .5em;
    margin-top: .5em;
}

.form--input {
    padding: .25em;
    border-radius: 5px;
    border: 1px solid gray;
}


table,
th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: .5em;
}

table {
    width: 100%;
}

.cell--inline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main--col {
    width: 80%;
}

.button--col {
    width: 20%;
}

.categorias {
    margin-top: 1em;
}


.form--group--contact {
    margin: .5em;
    display: flex;
    gap: .2em;
}



.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem
}