<h1>Iniciar Sesión</h1>
<form action="/login" method="POST">
    <input type="email" name="email" placeholder="Correo" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button class=" button button--primary" type="submit">Entrar</button>
</form>