<section class="section--auth">
    <div class="text--register">
<form action="/contacto" method="POST" enctype="multipart/form-data">
    <label>Nombre:</label>
    <input type="text" name="name" required>
    
    <label>Email:</label>
    <input type="email" name="email" required>
    
    <label>Mensaje:</label>
    <textarea name="message" required></textarea>
    
    <label>Adjuntar PDF:</label>
    <input type="file" name="resume" accept=".pdf" >

    <button type="submit">Enviar</button>
</form>
</div>
</section>
