<section class="section--auth">

    <div class="container--gral--dashboard">
        <div class="container--title--dashboard">
            <div class="title--dashboard">
                <h1 class="title--text--dashboard">Bienvenido</h1>
                <h2>
                    <%= user.name %>
                        <%= user.surname %>
                </h2>
            </div>
            <img src="/image/ImagenRoca.png" alt="imagen" class="img--rosca--dashboard">
        </div>
        <div class="container--info-gral">
            <h2>Predio</h2>
            <p>La florida</p>
            <h3>CLIMA</h3>
            <div class="container--weather">
                <div class="weather--wind">
                    info viento y clima
                </div>
                <div class="container--rain">
                    info lluvia
                </div>
            </div>
        </div>
    </div>
</section>