<h2>ERROR EN EL REGISTRO</h2>
<p>Tu email no esta registrado</p>
<p>Si pertences al Equipo de guardavidas de Costanera Rosario Comunicate con nosotros</p>

<p>Si queres formar parte de nuestro Equipo. dejanos tu cv</p>