<div class="login-container">
    <section class="section--auth">
        <h1>ERROR EN EL REGISTRO</h1>
        <p class="error--text">
            <%= error %>
        </p>
        <div class="p--register--group"></div>
        <p>Si pertences al Equipo de guardavidas de Costanera Rosario comunicate con nosotros</p>
        <p>Si queres formar parte de nuestro Equipo. dejanos tu cv</p>


    </section>
    <button class="button button--primary"><a href="/login">Intentar de nuevo</a></button>
</div>