<h2>ERROR EN EL REGISTRO</h2>
<p class="error--text">
    <%= error %>
</p>
<p>Si pertences al Equipo de guardavidas de Costanera Rosario Comunicate con nosotros</p>

<p>Si queres formar parte de nuestro Equipo. dejanos tu cv</p>

<button class="button button--primary"><a href="/login">Intentar de nuevo</a></button>