<section class="section--auth">
    <div class="text--register">
        <h1>Registro de Usuario</h1>
        <div class="p--register--group">
            <p class="text--strong text--margin">Registrate para entrar en la app Lifeguard</p>
            <p>Recordá que si no tenes tu email en nuestra base de datos, no vas a poder registrarte</p>
        </div>
    </div>

    <!-- conectar bien la base de datos para ver  de donde saco  elmail va en action -->
    <form class="form-container" action="/verify-email" method="POST">
        <div class="login-container">
            <div class="login-header">
                <img src="/image/logo.jpg" alt="Logo" class="logo">
            </div>

            <div class="input-group">
                <label for="email">Correo electrónico</label>
                <input type="email" name="email" required>
                <% if (typeof error !=="undefined" && error && error.trim() !=="" ) { %>
                    <p class="error--text">
                        <%= error %>
                    </p>
                    <% } %>
            </div>
            <button type="submit" class="button button--primary">Verificar email</button>
        </div>

    </form>
</section>