<section class="main-index">
    <div class="container-slider">
        <div class="slider">
            <img src="/image/lifeguard1.jpg" alt="image1" class="imagen-slider" />
            <img src="/image/lifeguard2.jpg" alt="image2" class="imagen-slider" />
            <img src="/image/lifeguard3.jpg" alt="image3" class="imagen-slider" />
            <div class="overlay-dark"></div>
            <div class="fixed-content">
                <h1 class="main--title"> Bienvenido/a a la página oficial de <span class="span--guardavidas">guardavidas
                    </span><span class="span--costanera">Costanera
                        Rosario</span>.
                </h1>
                <p class="intro-text">
                    Velamos por tu seguridad
                </p>

            </div>
        </div>
    </div>


    <div class="container--link--aspirantes">
        <p>Para cargar guardias de aspirantes hacé click</p><button class="button"><a href="#"> Aquí </a></button>
    </div>
</section>