<header>
    <nav class="navBar">
        <a href="/">Crud NODE.js</a>
        <ul class="menu">

            <li class="menu_item"><a href="/">Inicio</a></li>
            <li class="menu_item"><a href="/productos">Productos</a></li>
            <li class="menu_item"> <a href="/contacto">Contacto</a></li>
            <li class="menu_item"><a href="/categorias">Categorías</a></li>

        </ul>
    </nav>
</header>