<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <img src="/image/logopng.png" alt="Logo">
            </a>

        </div>
        <!-- Botón hamburguesa -->
        <button class="toggle-buton--open" aria-label="Abrir menú">☰</button>
        <ul class="nav-links">
            <li><a href="/" aria-label="Sobre nosotros">Nosotros</a></li>
            <li><a href="/login" aria-label="Iniciar Sesión"> Iniciar Sesión</a></li>
            <li><a href="/register" aria-label="Registrarse"> Registrarse</a></li>
            <li><a href="api/contacto" aria-label="Contactános">Contacto</a></li>
            <li><a href="/">Aspirantes</a></li>
            <button class="toggle-buton--close" aria-label="Cerrar Menú">X</button>
        </ul>

    </nav>
</header>