<h1>Crear Productos</h1>
<form class="form" action="/productos" method="post">
    <div class="form--group">
        <label for="Nombre">Nombre:</label>
        <input class="form--input" type="text" name="name" id="nombre">

    </div>
    <button class=" button button--primary" type="submit"> Crear</button>
</form>