<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/image/logo.jpg" type="image/x-icon">
    <title>LifeGuard</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <%- include('../partials/navBar') %>
        <main class="container--main"> <%- include(`../${body}`) %> </main>
</body>
<%- include(`../partials/footer`) %>
    <script src="/js/slider.js" defer></script>
    <script src="/js/toggleMenu.js" defer></script>



</html>